<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ image.title }}</h3>
    </div>


    <div class="panel-body">
        <p> {{ image.descript }} </p>
        <div class="col-md-12 text-center">
            <img src="/public/uploads/{{ image.filename }}" class="img-thumbnail"/>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-sucess" id="btn-like" data-id="{{image.uniqueId}}">
                    <i class="fa fa-hearth"> Like </i>
                </button>
                <strong class="likes-count"> {{ image.likes }} </strong> &nbsp; - &nbsp;
                <i class="fa fa-eye"></i>
                <strong> {{ image.views }} </strong> &nbsp; - &nbsp;
                Posted: <em class="text-muted"> {{ timeago image timestamp}}</em> 
                  
            </div>
        </div>
    </div>
</div>



